# Node.js related
node_modules
npm-debug.log
yarn-error.log
.yarn
.pnpm-store

# Next.js specific
.next
out
.next/cache

# Environment files
.env.local
.env.*.local

# Ignore Dockerfile
Dockerfile
Dockerfile.*

# Ignore Git and version control
.git
.gitignore
.gitattributes

# Ignore logs
*.log
logs

# IDE specific files
.idea
.vscode
*.swp

# Operating system files
.DS_Store
Thumbs.db

# Optional: Ignore markdown files, except for the README
*.md
!README.md
