//$primary
$primary_1: #6363fc;
$primary_2: #ececff;
$primary_3: #f2f3f7;
$primary_4: #ffffff;
//$secondary
$secondary_1: #d682fd;
$secondary_2: #8282fd;
$secondary_3: #82e7fd;
$secondary_4: #26b44e;
$secondary_5: #ff7549;
$secondary_6: #ffc149;
$secondary_7: #dadaff;
$secondary_8: #f3daff;
$secondary_9: #cdf5fe;
//$grayscale
$grayscale_1: #241f5c;
$grayscale_2: #4d497b;
$grayscale_3: #75748b;
$grayscale_4: #d3d2da;
$grayscale_5: #ececf1;
