// primary
$primary_1: '#47C409';
$primary_2: '#FF5F0A';
$primary_3: '#000';
$primary_4: '#FFF';
$primary_5: '#222';
//secondary
$secondary_1: '#999';
$secondary_2: '#F2F2F2';
$secondary_3: '#E7E7E7';
$secondary_4: '#CCCCCC';
$secondary_5: '#F8F8F8';
