/* styles/fonts.css */
@font-face {
    font-family: 'GellixRegular';
    src: url('/fonts/GellixRegular.otf') format('opentype');
    font-display: swap;
}


@font-face {
    font-family: 'GellixBold';
    src: url('/fonts/GellixExtraBold.otf') format('opentype');
    font-display: swap;
}
